html, body, main{
	height: 100%;
	background-color: #11002e;
	color: #fff;
	font-family: Rubik,Arial,sans-serif;
}

a{
	color: #fff;
	text-decoration: none;
}

a:hover{
	color: #a5a5a5;
	text-decoration: none;
}

label{
	font-size: 15px;
}

input[type=number]{
	width: 45px;
	color: black;
}

input[type=checkbox]{
	margin-top: 7px;
	margin-bottom: 25px;
}

.container{
	width: 880px;
}

.required:after{
	content: '*';
	color: red;
	margin-left: 3px;
}

.card{
	background-color: #dfb8e9;
	border: solid 2px #fff8fe;
	border-radius: 14px;
	padding: 30px;
	color: #fff;
}






/*btn*/

.btn-info{
	background-color: #000;
	border: solid 1px #cbb6ed;
	margin-top: 20px;
}
.btn-info:hover{
	background-color: #e7abff;
	border: solid 1px #787878;
}


.btn-default{
	background-color: #f5bfff;
	color: #fff;
	margin-top: 15px;
}
.btn-default:hover{
	background-color: #000000a3;
	color: #c7b5ff;
}

.btn-primary{
	background-color: #b86aff;
	border: solid 1px #fff;
}
.btn-primary:hover{
	background-color: #7c20cf;
	border: solid 1px #fff;
}









/*alert*/

.alert{
	border: none;
	font-size: 12px;
	padding: 7px;
}

.alert-danger{
   color: #ffd7d6;
   background-color: #9d0000;
}








/*pagination*/

.pagination{
	margin-bottom: 40px;
	float: right;
}








/*search*/

.searchForm{
	margin-top: 20px;
	margin-bottom: 80px;
}

.searchForm input[type=search]{
		margin-top: 25px;
		border-radius: 7px;
}

.searchForm button{
	margin: 5px;
	font-size: 16px;
}







/*login*/

.main1{
	background-color: #29007a;
	height: 100%;
}

.loginForm{
	margin-left: 25%;
	width: 50%;
	margin-top: 10em;
}

.loginForm h1{
	margin-bottom: 25px;
}

.form-group{
	margin-bottom: 10px;
}

.form-control{
	margin-bottom: 10px;
}








/*header*/

.navbar-default{
	background-color: #000000a3;
	padding-top: 20px;
	padding-bottom: 20px;
	border: none;
}

.nav-pills>li>a{
	color: #fff;
	background-color: #464072;
	border: solid 1px #fff;
	font-size: 16px;
}

.nav-pills>li>a:hover{
	color: #DCDCDC;
	background-color: #210838;
	border: solid 1px #4e1840;
}

.nav-pills>li:last-child{
	float: right;
}









/*index*/

.main h2{
	margin-bottom: 40px;
}

.mainSection{
	margin-top: 20px;
	padding: 5px;
	margin-bottom: 10px;
	border: solid 2px #fff;
	border-radius: 10px;
	background-color: #73229d;
}

.mainSection:hover{
	background-color: #3b0d52;
	border-color: #fff;
}

.mainSection h3{
	font-size: 20px;
	margin: 15px;
}

.mainSection a:hover{
	color: #fff;
}









/*add*/

.add{
	margin-top: 3em;
	margin-bottom: 3em;
}

.add h2{
	margin-top: 20px;
	margin-bottom: 40px;
}

.add label{
	margin-top: 5px;
}








/*register*/

.registerForm h2{
	margin-top: 20px;
	margin-bottom: 40px;

}

.registerForm label{
	margin-top: 5px;

}







/*products*/

.product{
	margin-bottom: 100px;
	padding: 25px;
}

.product:nth-child(even){
	background-color: #48227e;
	border-radius: 10px;
}

.product:nth-child(odd){
	background-color: #9757d7;
	border-radius: 10px;
}

.product:hover{
	background-color: #000000a3;
	border-radius: 10px;
}

.formProduct{
	margin: 115px;
}

.product img{
	width: 175px;
	height: 120px;
}

.productImg{
	text-align: center;
}

.mainIMG{
	margin-top: 20px;
	margin-bottom: 140px;
}






/*orders*/

.table>thead>tr>th{
	background-color: #73229d;
}
.table>thead>tr>th:first-child{
	border-top-left-radius: 2px;
}
.table>thead>tr>th:last-child{
	border-top-right-radius: 2px;
}


.table>tbody>tr{
	background-color: #d386fb;
}


.table>tfoot>tr>th{
	background-color: #73229d;
}
.table>tfoot>tr>th:first-child{
	border-bottom-left-radius: 7px;
}
.table>tfoot>tr>th:last-child{
	border-bottom-right-radius: 7px;
}

.orderImg{
	width: 120px;
	height: 77px;
}

.divOrderBtn{
	margin-bottom: 240px;
}

.orderBtn{
	padding: 10px;
	font-size: 14px;
}










/*footer*/


.footer p{
	margin-top: 40px;
}

.footer-list-group{
	margin-top: 30px;
	margin-bottom: 30px;
}

.list-group-item{
	border: none;
	background-color: #ffffff14;
}














/*адаптивная верстка*/

@media (max-width: 767px) {


	.navbar-default .navbar-pills>li>a{
		text-align:center;
		color: #fff;
		background-color: #006bff3d;
		border: solid 1px #c9e7ff;
	}

	.navbar-default .navbar-pills>li>a:hover{
		background-color: #e0f3ff;
		color: #00439f;
	}

	.nav-pills>li>a{
		padding: none;
		font-size: 14px;
		width: 100%;
		margin-top: 15px;
	}

	.container{
		width: auto;
	}

	.card{
		background-color: #00507a;
		border: none;
		border-radius: 0;
		margin-top: 11em;
		padding: 0;
	}

	.loginForm h1{
		color: #fff;
	}

	.loginForm label{
		color: #fff;
	}

	.product{
		margin-bottom: 130px;
	}

	.ProductText{
		text-align: center;
	}

	.productImg{
		text-align: center;
	}

	input[type=search]{
		width: 100%;
	}


	footer{
    	display: none;
	}
}







@media (max-width: 380px){

	.nav-pills>li{
		width: 100%;
		text-align: center;
	}

	.nav-pills>li>a{
		font-size: 12px;
	}

	.nav-pills>li:last-child{
		float: left;
	}

	.product img{
		width: 115px;
		height: 70px;
	}

	input[type=search]{
		width: 100%;
	}
}