html, body, main{
	height: 100%;
	background-color: #e3edf6;
	color: #000;
	font-family: Rubik,Arial,sans-serif;
}

a{
	color: #000;
	text-decoration: none;
}

a:hover{
	color: #a5a5a5;
	text-decoration: none;
}

hr{
   border-top: 1px solid #fff;
 }

label{
	font-size: 15px;
}

input[type=number]{
	width: 75px;
	color: black;
}

input[type=checkbox]{
	margin-top: 7px;
	margin-bottom: 25px;
}

.container{
	width: 880px;
}

.required:after{
	content: '*';
	color: red;
	margin-left: 3px;
}

.card{
	background: rgb(26,156,194);
	background: linear-gradient(90deg, rgba(26,156,194,1) 0%, rgba(8,99,202,1) 100%);
	border: solid 2px #fff8fe;
	border-radius: 14px;
	padding: 30px;
	color: #fff;
	margin-top: 30px;
	margin-bottom: 30px;
}






/*btn*/

.btn-info{
	background-color: #0da5ee;
	color: #fff;
	border: solid 1px #cbb6ed;
	margin-top: 20px;
}
.btn-info:hover{
	background-color: #1877ab;
	border: solid 1px #ccc;
}


.btn-default{
	background-color: #fff;
	color: #000;
	margin-top: 15px;
}
.btn-default:hover{
	background-color: #fff;
	color: #ccc;
}






/*alert*/

.alert{
	border: none;
	font-size: 12px;
	padding: 7px;
}

.alert-danger{
   color: #ffd7d6;
   background-color: #9d0000;
}






/*pagination*/

.pagination{
	margin-bottom: 40px;
	float: right;
}







/*login*/

.main1{
	background-color: #29007a;
	height: 100%;
}

.loginForm{
	margin-left: 25%;
	width: 50%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.loginForm h1{
	margin-bottom: 25px;
}

.form-group{
	margin-bottom: 10px;
}

.form-control{
	margin-bottom: 10px;
}

.link-register a{
	color: #000;
   background-color: #fff;
   border-radius: 13px;
   padding: 7px;
   font-size: 12px;
   margin: 12px;
}

.link-register a:hover{
	color: #ccc;
}






/*header*/

.navbar-default{
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	border: none;
}

.nav-pills>li>a{
	color: #000;
	background-color: none;
	border: none;
	font-size: 16px;
}

.nav-pills>li>a:hover{
	color: #ccc;
	background-color: #fff;
	border: none;
}

.nav-pills>li:last-child{
	float: right;
	border-radius: 13px;
	color: #fff;
	background-color: #0ba6f0;
}







/*add*/

.add{
	margin-top: 3em;
	margin-bottom: 3em;
}

.add h2{
	margin-top: 20px;
	margin-bottom: 40px;
}

.add label{
	margin-top: 5px;
}






/*register*/

.registerForm h2{
	margin-top: 20px;
	margin-bottom: 40px;

}

.registerForm label{
	margin-top: 5px;
}







/*search*/

.searchForm{
	margin-top: 20px;
	margin-bottom: 80px;
}

.searchForm input[type=search]{
		margin-top: 25px;
		border-radius: 7px;
}

.searchForm button{
	margin: 5px;
	font-size: 16px;
}






/*products*/

.bigImg{
	background-image: url("../../assets/img/mainBig.jpg");
	height: 41em;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
}

.product{
	margin-bottom: 20px;
	padding: 25px;
}

.formProduct{
	margin: 115px;
}

.product img{
	width: 175px;
	height: 120px;
}

.productImg{
	text-align: center;
}

.mainIMG{
	margin-top: 20px;
	margin-bottom: 140px;
}






/*basket*/

.table-responsive{
	margin-top: 30px;
	color: #fff;
}

.table>thead>tr>th{
	background-color: #0863ca;
}
.table>thead>tr>th:first-child{
	border-top-left-radius: 5px;
}
.table>thead>tr>th:last-child{
	border-top-right-radius: 5px;
}


.table>tbody>tr{
	background-color: #458fcd;
}


.table>tfoot>tr>th{
	background-color: #0863ca;
}
.table>tfoot>tr>th:first-child{
	border-bottom-left-radius: 7px;
}
.table>tfoot>tr>th:last-child{
	border-bottom-right-radius: 7px;
}

.orderImg{
	width: 120px;
	height: 77px;
}

.divOrderBtn{
	margin-bottom: 240px;
}

.orderBtn{
	padding: 10px;
	font-size: 14px;
}






/*order*/

.btn-form-order{
	margin-top: 10px;
}

.order-money{
	margin-bottom: 20px;
}






/*client-list*/

.client-card{
	background-color: #000;
	border: solid 2px #fff;
	border-radius: 7px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.client{
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.client h3{
	margin-top: 25px;
	margin-bottom: 20px;
}

.client p{
	margin-top: 15px;
}






/*indo*/

.info{
	margin-bottom: 120px;
}

.info h2{
	margin-top: 20px;
	margin-bottom: 35px;
}

.info p{
	margin-bottom: 25px;
}






/*footer*/


.footer p{
	margin-top: 40px;
}

.footer-list-group{
	margin-top: 30px;
	margin-bottom: 30px;
}

.list-group-item{
	border: none;
	background-color: #ffffff45;
}














/*адаптивная верстка*/

@media (max-width: 767px) {


	.navbar-default .navbar-pills>li>a{
		text-align:center;

	}

	.nav-pills>li>a{
		padding: none;
		font-size: 14px;
		width: 100%;
		margin-top: 15px;
	}

	.container{
		width: auto;
	}

	.card{
		background-color: #00507a;
		border: none;
		border-radius: 0;
		margin-top: 11em;
		padding: 0;
	}

	.loginForm h1{
		color: #fff;
	}

	.loginForm label{
		color: #fff;
	}

	.bigImg{
		height: 0;
	}

	.product{
		margin-bottom: 30px;
	}

	.ProductText{
		text-align: center;
	}

	.productImg{
		text-align: center;
	}

	input[type=search]{
		width: 100%;
	}


	footer{
    	display: none;
	}
}







@media (max-width: 380px){

	.nav-pills>li{
		width: 100%;
		text-align: center;
	}

	.nav-pills>li>a{
		font-size: 12px;
	}

	.nav-pills>li:last-child{
		float: left;
	}

	.product img{
		width: 115px;
		height: 70px;
	}

	input[type=search]{
		width: 100%;
	}
}